body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

#form-section, #listaEventos {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    margin-right: 5px;
    cursor: pointer;
}

.card {
    background: #fff;
    padding: 12px;
    border-left: 4px solid #2b6cb0;
    margin-bottom: 12px;
    border-radius: 5px;
}
